/Settings/*
/Packages/Color Scheme/*.cache
/Backup/*
/Index/*
/Local/*
/Cache/*

.DS_Store

Packages/User/Package Control.cache
Packages/User/Package Control.last-run
Packages/User/Package Control.ca-bundle
Packages/User/Package Control.ca-list
Packages/Default/Startup.cache